.toggle-btn {
    width: 40px;
    height: 40px;
    background: none;
    position: absolute;
    top: 30px;
    left: 40px;
    cursor: pointer;
    span {
        position: relative;
        &:before {
            content: '';
            background-color: #fff;
            height: 1px;
            transition: all .3s;
            width: 40px;
            position: absolute;
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            &::before {
                top: 12px;
            }
        }
        &:nth-child(3) {
            &::before {
                top: 25px;
            }
        }
    }
}
.toggle-btn--active {
    span {
        &:nth-child(1) {
            &::before {
                top: 12px;
                transform: rotate(45deg);
            }
        }
        &:nth-child(2) {
            &::before {
                opacity: 0;
            }
        }
        &:nth-child(3) {
            &::before {
                top: 12px;
                transform: rotate(-45deg);
            }
        }
    }
}
@media screen and (max-width: 1440px) {
    .toggle-btn {
        left: 30px;
    }
}
@media screen and (max-width: 768px) {
    .toggle-btn {
        top: 30px;
        right: 20px;
        left: auto;
    }
}
@media screen and (max-width: 768px) {
    .toggle-btn {
        top: 16px;
        right: 16px;
    }
}