.header-circle {
    width: 330px;
    height: 330px;
    border-radius: 150%;
    background-color: #8F9BB3;
    opacity: 0.5;
    position: absolute;
    top: -180px;
    left: -200px;
    z-index: -1;
}