.logo-top {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 0;
    text-align: right;
    right: 8px;
    z-index: 0;
    clip-path: polygon(0 0%, 100% 0%, 100% 100%, 0 0%);
    transform: translate(100%, -100%);
    transition: transform 1.5s;
    img {
        width: 100%;
        padding-top: 80px;
        padding-right: 40px;
        padding-left: 280px;
    }
}
.logo-top-enter-done {
    transform: translate(0, 0);
}

@media screen and (max-width: 1440px) {
    .logo-top {
        width: 400px;
        height: 400px;
        img {
            padding-right: 30px;
            padding-top: 40px;
            padding-left: 210px;
        }
    }
}

@media screen and (max-width: 1200px) {
    .logo-top {
        width: 320px;
        z-index: 9999;
        height: 320px;
        img {
            padding-right: 30px;
            padding-top: 40px;
            padding-left: 180px;
        }
    }
}
@media screen and (max-width: 768px) {
    .logo-top {
        display: none;
    }
}