.about {
    padding-top: 130px;
    padding-bottom: 170px;
    position: relative;
    button {
        text-transform: initial;
    }
}
.about__intro-title {
    font-size: 24px;
    margin-bottom: 20px;
    opacity: 0;
    span {
        font-size: 48px;
    }
}
.about-content {
    min-height: 100vh;
    position: relative;
}
.about__intro {
    margin-bottom: 250px;
}
.about__intro-content {
    font-size: 18px;
    margin-bottom: 35px;
    letter-spacing: 0.01em;
    line-height: 180%;
    opacity: 0;
}
.about__skills {
    position: relative;
}
.skills-triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 128px 333px 255px 301px;
    transform: rotate(35deg);
    opacity: .5;
    position: absolute;
    top: 40px;
    left: -150px;
    border-color: transparent #8F9BB3 transparent transparent;
}
.about-polygon {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100vw;
    background-color: #8F9BB3;
    opacity: .5;
    z-index: -1;
    clip-path: polygon(0 46%, 100% 13%, 100% 100%, 0 100%);
}
.about-intro-enter {
    .about__intro-title,
    .about__intro-content {
        filter: blur(1em);
        opacity: 0.1;
    }
}
.about-intro-enter-done {
    .about__intro-title,
    .about__intro-content {
        filter: blur(0);
        opacity: 1;
    }
}
@mixin arrow-transitions($rot: 0deg) {
    transform: translate(-50%, -50%) rotateZ($rot);
}
.about-item__details {
    display: block;
    width: 100px;
    height: 100px;  
    position: absolute;
    bottom: 30%;
    left: 50%;
    transition: all 2s;
    opacity: 0;
    @include arrow-transitions(0deg);
    &:hover {
        cursor: pointer;
        .arrow {
        top: 50%;
        &:before {
            @include arrow-transitions(-30deg);
        }
        &:after {
            @include arrow-transitions(30deg);
        }      
        }
    }
}
.about-item__details-enter-done {
    opacity: 1;
}