.portfolio {
    padding-top: 130px;
    padding-bottom: 170px;
    position: relative;
    height: 100%;
    .container {
        max-width: 1440px;
        position: relative;
    }
}
.portfolio-rectangle {
    position: absolute;
    bottom: 0;
    height: 300px;
    width: 100vw;
    background-color: #8F9BB3;
    opacity: .5;
    z-index: -1;
    clip-path: polygon(0 70%, 100% 13%, 100% 100%, 0 100%);
  }